*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    -webkit-box-shadow: 0px 9px 18px -4px rgba(0,0,0,0.53);
    box-shadow: 0px 9px 18px -4px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 9px 18px -4px rgba(0,0,0,0.53);
    display: flex;
    justify-content: center;
    padding: 1em 0;
    .general{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            width: 10%;
            img{
                width: 80%;
            }
        }
        .navigation{
            display: flex;
            width: 50%;
            justify-content: space-between;
            align-items: center;
            color: rgb(151, 151, 151);
            .each-nav{
                width: 20%;
                display: flex;
                align-items: center;
                button{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border: none;
                    background: none;
                    gap: 10px;
                    p{
                        font-size: 12px;
                        color: rgb(151, 151, 151);
                        font-weight: 700;
                        font-family: sans-serif;
                    }
                }
                
            }
        }
        .account{
            width: 9%;
            display: flex;
            align-items: center;
            cursor: pointer;
            border: none;
            background: none;
            gap: 5px;
            .profile-picture{
                img{
                    width: 100%;
                    border-radius: 100%;
                }
            }
            p{
                font-family: sans-serif;
                font-weight: 600;
                font-size: 14px;
                color: rgb(151, 151, 151);
            }
        }
    }
}
main{
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    .account-page{
        width: 80%;
        display: none;
        padding: 1em 0;
        .inside-account-page{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                padding: 1em 0;
                font-family: sans-serif;
                color: rgb(0,25,102);
                font-size: 20px;
            }
            .container-account{
                width: 90%;
                display: flex;
                padding: 2em 0;
                flex-direction: column;
                box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.49);
                -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.49);
                -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.49);
                align-items: center;
                background-color: white;
                .back-account{
                    width: 90%;
                    button{
                        background: none;
                        border: none;
                        display: flex;
                        align-items: center;
                        gap: 9px;
                        color: rgb(0,25,102);
                        font-weight: 800;
                        font-family: sans-serif;
                        cursor: pointer;
                    }
                }
                .second-account{
                    width: 90%;
                    gap: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .profile-image{
                        width: 90px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 90px;
                        img{
                            width: 100%;
                            border-radius: 100%;
                        }
                    }
                    .third-account{
                        display: flex;
                        flex-direction: column;
                        h4{
                            font-family: sans-serif;
                            font-weight: 900;
                            font-size: 15px;
                        }
                        .copy-user-name{
                            display: flex;
                            flex-direction: column;
                            p{
                                font-size: 12px;
                                font-family: sans-serif;
                                color: rgb(0,25,102);
                                font-weight: 700;
                            }
                        }
                    }
                }
                .below-account{
                    flex-wrap: wrap;
                    width: 90%;
                    justify-content: space-between;
                    padding: 1em 0;
                    align-items: center;
                    display: flex;
                    .each-container{
                        display: flex;
                        width: 45%;
                        padding: 0.4em;
                        flex-direction: column;
                        p{
                            font-family: sans-serif;
                            color: rgb(151, 151, 151);
                            font-size: 12px;
                        }
                        .editing-container{
                            border-radius: 5px;
                            box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.49);
                            -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.49);
                            -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.49);
                            width: 100%;
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            background-color: white;
                            select{
                                width: 100%;
                                height: 40px;
                                border-radius: 5px;
                                border: none;
                                font-family: sans-serif;
                                font-weight: 900;
                                font-size: 17px;
                            }
                            p{
                                color: black;
                                height: 30px;
                                padding: 5px 0;
                                font-weight: 700;
                                font-family: sans-serif;
                                font-size: 19px;
                            }
                            button{
                                width: 70px;
                                height: 25px;
                                background-color: rgb(0,25,102);
                                color: white;
                                font-family: sans-serif;
                                border-radius: 5px;
                                border: none;
                                
                            }
                        }
                    }
                }
                .delete-account{
                    width: 90%;
                    padding: 0 0 2em 0;
                    display: flex;
                    justify-content: space-between;
                    button{
                        height: 40px;
                        box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.49);
                        -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.49);
                        -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.49);
                        display: flex;
                        width: 45%;
                        color: rgb(255, 73, 73);
                        border-radius: 5px;
                        border: none;
                        align-items: center;
                        font-family: sans-serif;
                        font-weight: 900;
                        justify-content: center;
                    }
                }
            }
        }
    }
    .home-page{
        width: 60%;
        padding: 2em 0;
        .intro{
            padding: 1em 0;
            width: 100%;
            h2{
                font-size: 20px;
                font-family: sans-serif;
                font-weight: 900;
                color: rgb(151, 151, 151);
            }
        }
        .nigeria-amount{
            width: 100%;
            display: flex;
            padding: 1em 0;
            align-items: center;
            justify-content: space-between;
            .first-one{
                display: flex;
                width: 30%;
                align-items: center;
                justify-content: space-between;
                .pop-up{
                    height: 40px;
                    width: 40px;
                    background-color: rgb(171, 165, 165);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                }
                .currency{
                    cursor: pointer;
                    small{
                        font-family: sans-serif;
                        color: rgb(151, 151, 151);
                        font-weight: 900;
                        font-size: 14px;
                    }
                    h2{
                        font-family: sans-serif;
                        font-weight: 900;
                        color: rgb(0,25,102);
                    }
                }
                .flag{
                    padding: 0.8em;
                    height: 40px;
                    width: 40px;
                    background-color: aqua;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    img{
                        border-radius: 100%;
                        width: 100%;
                    }
                }
            }
            .second-part{
                display: flex;
                width: 20%;
                gap: 5px;
                flex-direction: column;
                button{
                    width: 100%;
                    display: flex;
                    border-radius: 5px;
                    font-family: sans-serif;
                    background-color: lightgray;
                    font-size: 14px;
                    color: rgb(0,25,102);
                    border: none;
                    font-weight: 900;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                }
            }
        }
        .button-below{
            width: 100%;
            padding: 1em 0;
            display: flex;
            align-items: center;
            gap: 20px;
            button{
                height: 34px;
                width: 101px;
                background-color: lightgray;
                border-radius: 5px;
                border: none;
                justify-content: center;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
        .invest-div{
            width: 100%;
            background-color: lightgray;
            display: none;
            padding: 1em 0;
            .general-invest{
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                img{
                    width: 90%;
                }
                h4{
                    font-size: 24px;
                    font-family: sans-serif;
                    font-weight: 800;
                    line-height: 34px;
                }
                p{
                    font-size: 15px;
                    font-family: sans-serif;
                    line-height: 20px;
                }
                button{
                    height: 42px;
                    width: 335px;
                    border-radius: 5px;
                    border: none;
                    font-weight: 700;
                    font-style: 12px;
                }
                small{
                    font-size: 10px;
                    font-family: sans-serif;
                    line-height: 14px;
                }
            }
        }
        .save-div{
            width: 100%;
            background-color: lightslategray;
            padding: 1em 0;
            display: none;
            .general{
                align-items: center;
                width: 100%;
                display: flex;
                gap: 20px;
                flex-direction: column;
                img{
                    width: 100%;
                }
                h4{
                    font-size: 17px;
                    font-family: sans-serif;
                    font-weight: 900;
                    line-height: 22px;
                }
                p{
                    font-size: 12px;
                    font-family: sans-serif;
                    line-height: 17px;
                }
                button{
                    height: 48px;
                    width: 160px;
                    border-radius: 5px;
                    font-family: sans-serif;
                    font-size: 16px;
                    line-height: 25px;
                    background-color: rgb(72, 211, 138);
                    font-weight: 700;
                    color: white;
                    border: none;
                }
            }
        }
        .borrow-div{
            width: 100%;
            background-color: orchid;
            display: none;
            .general-borrow{
                width: 100%;
                background-color: purple;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                .container{
                    width: 60%;
                    background-color: red;
                    padding: 20px 30px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: 10px;
                        line-height: 14px;
                        font-family: sans-serif;
                        color: rgb(151, 151, 151);
                        line-height: 14px;
                    }
                    h4{
                        font-size: 16px;
                        font-family: sans-serif;
                        font-weight: 900;
                        line-height: 22px;
                    }
                }
            }
        }
        .changeable{
            background-color: yellow;
            width: 100%;
            .div-one{
                background-color: red;
                border-radius: 5px;
                width: 100%;
                display: flex;
                justify-content: center;
                .inside-div-one{
                    width: 80%;
                    background-color: palevioletred;
                    display: flex;
                    padding: 0.5em 0;
                    align-items: center;
                    justify-content: space-between;
                    .text-area{
                        width: 60%;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        h1{
                            font-size: 13px;
                            font-family: sans-serif;
                            font-weight: 900;
                        }
                        p{
                            font-size: 11px;
                            line-height: 18px;
                            font-family: sans-serif;
                            color: rgb(151, 151, 151);
                        }
                    }
                    .image{
                        display: flex;
                        justify-content: flex-end;
                        width: 30%;
                        img{
                            width: 80%;
                        }
                    }
                }
            }
            .div-two{
                width: 100%;
                background-color: rebeccapurple;
                display: flex;
                padding: 1em 0;
                flex-direction: column;
                text-align: center;
                gap: 20px;
                align-items: center;
                .nothing-image{
                    width: 100%;
                    background-color: orange;
                }
                .nothing-text{
                    width: 100%;
                    background-color: brown;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    flex-direction: column;
                    p{
                        font-size: 14px;
                        font-family: sans-serif;
                        line-height: 19px;
                        color: rgba(0,0,0,0.5);
                        background-color: orange;
                        width: 40%;
                    }
                    h2{
                        font-size: 14px;
                        font-weight: 900;
                        line-height: 19px;
                        font-family: sans-serif;
                    }
                }
            }
            .div-three{
                width: 100%;
                display: none;
                background-color: aqua;
                .transactions{
                    display: flex;
                    align-items: center;
                    padding: 1em 5px;
                    justify-content: space-between;
                    width: 98.8%;
                    background-color: yellow;
                    p{
                        font-size: 14px;
                        font-family: sans-serif;
                        color: rgb(151, 151, 151);
                    }
                    select{
                        background: none;
                        font-size: 14px;
                        font-family: sans-serif;
                        border: none;
                    }
                }
                table{
                    width: 100%;
                    background-color: pink;
                    thead{
                        background-color: purple;
                    }
                }
            }
        }
    }
    .send-page{
        width: 50%;
        background-color: orange;
        display: none;
        .general-send-page{
            width: 100%;
            background-color: green;
            display: flex;
            align-items: center;
            flex-direction: column;
            .container{
                width: 100%;
                background-color: orangered;
                display: flex;
                padding: 1.5em 0;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .small-container{
                    width: 90%;
                    padding: 0.4em 0;
                    display: flex;
                    background-color: indigo;
                    border-radius: 5px;
                    justify-content: center;
                    .inside-small-container{
                        width: 90%;
                        background-color: hotpink;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .text{
                            display: flex;
                            flex-direction: column;
                            h4{
                                font-size: 15px;
                                font-family: sans-serif;
                                font-weight: 900;
                                line-height: 20px;
                            }
                            p{
                                font-family: sans-serif;
                                font-size: 10px;
                                color: rgb(151, 151, 151);
                            }
                        }
                        button{
                            width: 84px;
                            height: 21px;
                            font-weight: 800;
                            font-family: sans-serif;
                        }
                        .icons{
                            border: none;
                            background: none;
                        }
                    }
                }
            }
            h1{
                text-align: center;
                font-size: 24px;
                line-height: 34px;
                font-family: sans-serif;
                font-weight: 900;
            }
            .not{
                width: 100%;
                background-color: aqua;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                .inside-not{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;
                    background-color: brown;
                    h4{
                        background-color: rebeccapurple;
                        width: 100%;
                    }
                }
                .icon{
                    background-color: blue;
                    width: 80%;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    .pay-page{
        width: 60%;
        display: none;
        h1{
            width: 100%;
            font-size: 27px;
            padding: 1em 0;
            color: rgb(0,25,102);
            font-family: sans-serif;
            text-align: center;
        }
        .inside-pay-page{
            display: flex;
            flex-direction: column;
            padding: 1em 0;
            background-color: white;
            -webkit-box-shadow: 1px 2px 40px 0px rgba(0,0,0,0.49);
            -moz-box-shadow: 1px 2px 40px 0px rgba(0,0,0,0.49);
            box-shadow: 1px 2px 40px 0px rgba(0,0,0,0.49);
            align-items: center;
            .essentials{
                display: flex;
                width: 90%;
                flex-direction: column;
                h2{
                    color: rgb(0,25,102);
                    width: 100%;
                    font-size: 18px;
                    font-family: sans-serif;
                    font-weight: 900;
                    padding: 0.5em 0;
                }
                .container{
                    width: 100%;
                    background-color: white;
                    padding: 0.5em 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    .box{
                        width: 45%;
                        background-color: white;
                        -webkit-box-shadow: 0px 0px 56px -14px rgba(0,0,0,0.4);
                        -moz-box-shadow: 0px 0px 56px -14px rgba(0,0,0,0.4);
                        box-shadow: 0px 0px 56px -14px rgba(0,0,0,0.4);
                        padding: 0.8em 10px;
                        border-radius: 5px;
                        margin: 0.4em 0;
                        display: flex;
                        cursor: pointer;
                        justify-content: space-between;
                        align-items: center;
                        .icons{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            p{
                                font-family: sans-serif;
                                font-weight: 800;
                                font-size: 15px;
                                color: rgb(0,25,102);
                            }
                        }
                    }
                }
            }
        }
        .airtel-page{
            width: 100%;
            display: none;
            .general-airtel-page{
                width: 100%;
                display: flex;
                justify-content: center;
                .inside-airtel-page{
                    width: 60%;
                    padding: 2.5em;
                    border-radius: 5px;
                    border: 1px solid lightgray;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    flex-direction: column;
                    .back{
                        width: 100%;
                        button{
                            display: flex;
                            align-items: center;
                            font-family: sans-serif;
                            background: none;
                            border: none;
                            cursor: pointer;
                            font-weight: 700;
                            color: rgb(0,25,102);
                        }
                    }
                    .word-airtel{
                        width: 100%;
                        h1{
                            font-size: 20px;
                            color: black;
                            padding: 0;
                        }
                    }
                    .amount{
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        p{
                            font-family: sans-serif;
                            font-weight: 800;
                            font-size: 14px;
                            padding: 0.4em 0;
                        }
                        .naira-symbol{
                            width: 100%;
                            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
                            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
                            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
                            background-color: white;
                            align-items: center;
                            border-radius: 5px;
                            justify-content: space-around;
                            display: flex;
                            .naira-note{
                                width: 10%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            input{
                                width: 87%;
                                padding: 0 0 0 10px;
                                height: 40px;
                                outline: none;
                                border: none;
                            }
                            .phone-number{
                                background: none;
                            }
                            select{
                                width: 100%;
                                border: none;
                                font-family: sans-serif;
                                font-weight: 700;
                                height: 40px;
                            }
                        }
                        .naira-symbol-one{
                            background-color: white;
                        }
                    }
                    .btn{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        button{
                            width: 156px;
                            border-radius: 5px;
                            font-family: sans-serif;
                            font-weight: 800;
                            font-size: 15px;
                            color: white;
                            background-color: rgb(0,25,102);
                            border: none;
                            height: 40px;
                        }
                    }
                }
            }
            
        }
        .modal{
            position: fixed;
            height: 100%;
            display: none;
            width: 100%;
            top:  0;
            left: 0;
            background-color: rgba(0,0,0,0.4);
            .inside-modal{
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                .container-modal{
                    width: 40%;
                    background-color: white;
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .confirm-text{
                        width: 90%;
                        padding: 0 0 1em 0;
                        h2{
                            font-family: sans-serif;
                            font-weight: 800;
                            font-size: 22px;
                            text-align: center;
                            color: rgb(0,25,102);
                        }
                    }
                    .card-fee{
                        width: 90%;
                        display: flex;
                        padding: 0 0 1em 0;
                        flex-direction: column;
                        p{
                            font-family: sans-serif;
                            color: rgb(151, 151, 151);
                            font-weight: 600;
                            font-size: 13px;
                            text-align: center;
                        }
                        h2{
                            font-family: sans-serif;
                            color: rgb(0,25,102);
                            text-align: center;
                            font-size: 24px;
                            font-weight: 700;
                        }
                    }
                    .fee{
                        display: flex;
                        align-items: center;
                        border: none;
                        border-top: 1px solid lightgray;
                        border-bottom: 1px solid lightgray;
                        padding: 10px 0;
                        width: 90%;
                        justify-content: space-between;
                        .fee-one{
                            p{
                                font-family: sans-serif;
                                font-size: 14px;
                                font-weight: 600;
                            }
                            h4{
                                font-size: 15px;
                                font-family: sans-serif;
                                font-weight: 600;
                            }
                        }
                    }
                    .fee-second{
                        border: none;
                        border-bottom: 1px solid lightgray;
                    }
                    .paragraph{
                        width: 90%;
                        padding: 1em 0;
                        p{
                            text-align: center;
                            font-family: sans-serif;
                            font-weight: 600;
                            font-size: 17px;
                        }
                    }
                    .transactions-pin{
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        p{
                            text-align: center;
                            font-family: sans-serif;
                            font-weight: 700;
                            padding: 10px 0;
                        }
                        .pin-container {
                            display: flex;
                            padding: 1em 0;
                            justify-content: center;
                          }
                          input{
                            width: 40px;
                            height: 40px;
                            background-color: lightgray;
                            border-radius: 5px;
                            border: none;
                            margin: 0 5px;
                            text-align: center;
                            font-size: 20px;
                          }
                    }
                    .button-group{
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        button{
                            width: 140px;
                            height: 40px;
                            font-family: sans-serif;
                            font-weight: 800;
                            border-radius: 5px;
                            color: rgb(0,25,102);
                            border: 1px solid rgb(0,25,102);
                        }
                        .Confirm{
                            background-color: rgb(0,25,102);
                            color: white;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .budget-page{
        width: 40%;
        display: none;
        background-color: orangered;
        h2{
            font-size: 24px;
            font-family: sans-serif;
            line-height: 34px;
            font-weight: 900;
            text-align: center;
        }
        .inside-budget-page{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            background-color: pink;
            padding: 1em 0;
            .container{
                background-color: violet;
                width: 90%;
                display: flex;
                flex-direction: column;
                h4{
                    font-size: 19px;
                    font-family: sans-serif;
                    line-height: 25px;
                    font-weight: 900;
                }
                p{
                    font-size: 14px;
                    font-family: sans-serif;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    .card-page{
        display: none;
        width: 40%;
        .first{
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: space-between;
            h2{
                font-size: 24px;
                color: rgb(0,25,102);
                font-family: sans-serif;
                font-weight: 900;
            }
            button{
                width: 152px;
                height: 48px;
                font-weight: 700;
                color: rgb(0,25,102);
                border: 1px solid rgb(0,25,102);
                font-family: sans-serif;
                border-radius: 5px;
            }
        }
        .inside-card-page{
            display: flex;
            flex-direction: column;
            padding: 2em 0;
            width: 100%;
            .body{
                width: 100%;
                background-color: white;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
                display: flex;
                border-radius: 5px;
                padding: 1em 0;
                flex-direction: column;
                align-items: center;
                .inside-body{
                    width: 75%;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    align-items: center;
                    .image{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .text{
                        width: 100%;
                        padding: 1em 0;
                        p{
                            font-family: sans-serif;
                            color: rgb(0,25,102);
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                    .container{
                        width: 100%;
                        padding: 0.5em 0;
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        align-items: center;
                        .inside-small-container{
                            width: 90%;
                            background-color: white;
                            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
                            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
                            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
                            border-radius: 5px;
                            padding: 0.4em 0;
                            display: flex;
                            justify-content: space-around;
                            button{
                                background: none;
                                border: none;
                            }
                            .text-it{
                                h4{
                                    font-family: sans-serif;
                                    color: rgb(0,25,102);
                                    font-weight: 900;
                                    font-size: 14px;
                                }
                                p{
                                    font-family: sans-serif;
                                    font-size: 10px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}